// Primary Color
$strongCyan : hsl(172, 67%, 45%);

// Other color
$resetInactive: hsl(172, 67%, 25%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan1: hsl(186, 14%, 43%);
$darkGrayishCyan2: hsl(184, 14%, 56%);
$lightGrayishCyan1: hsl(185, 41%, 84%);
$lightGrayishCyan2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$resetActiveHover: hsl(172, 67%, 65%);

// font size
$medium : 1rem;
$large : 1.5rem;
$small : 0.5rem;
$xlarge: 3rem;

// font family
$primaryFont : 'Space Mono', monospace;